<!DOCTYPE HTML>
<html>
<head>
    <title>Learner a education bootstrap Website Template | Technology </title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- start plugins -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!--font-Awesome-->
    <link rel="stylesheet" href="fonts/css/font-awesome.min.css">
    <!--font-Awesome-->
</head>
<body>
<div class="header_bg1">
    <div class="container">
        <div class="row header">
            <div class="logo navbar-left">
                <h1><a href="/">Learner</a></h1>
            </div>
            <% if(username){ %>
            <div style="float:left">
                <%=username %>
                <a href="/logout">退出</a>
            </div>
            <% }else{ %>
            <div style="float:left">
                <a href="/login">登录</a>
                <a href="/reg">注册</a>
            </div>
            <% } %>
            <div class="h_search navbar-right">
                <form action="/technology/search">
                    <input name="t1" type="text" class="text" placeholder="请输入关键字">
                    <input type="submit" value="search">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row h_menu">
            <nav class="navbar navbar-default navbar-left" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="<%=nav_index==1?'active':''%>"><a href="/">Home</a></li>
                        <li class="<%=nav_index==2?'active':''%>"><a href="/technology">Technologies</a></li>
                        <li class="<%=nav_index==3?'active':''%>"><a href="/about">About</a></li>
                        <li class="<%=nav_index==4?'active':''%>"><a href="/blog">Blog</a></li>
                        <li class="<%=nav_index==5?'active':''%>"><a href="/contact">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                <!-- start soc_icons -->
            </nav>
            <div class="soc_icons navbar-right">
                <ul class="list-unstyled text-center">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>