<div class="main_bg"><!-- start main -->
    <div class="container">
        <div class="main row">
            <div class="col-md-3 images_1_of_4 text-center">
                <span class="bg"><i class="fa fa-globe"></i></span>
                <h4><a href="#">Sed Porta Dolor</a></h4>
                <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 1500s.</p>
                <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
            </div>
            <div class="col-md-3 images_1_of_4 bg1 text-center">
                <span class="bg"><i class="fa fa-laptop"></i></span>
                <h4><a href="#">Lorem Ipsum is</a></h4>
                <p class="para">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
            </div>
            <div class="col-md-3 images_1_of_4 bg1 text-center">
                <span class="bg"><i class="fa fa-cog"></i></span>
                <h4><a href="#">Sed Porta Dolor</a></h4>
                <p class="para">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32  by H. Rackham.</p>
                <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
            </div>
            <div class="col-md-3 images_1_of_4 bg1 text-center">
                <span class="bg"><i class="fa fa-shield"></i> </span>
                <h4><a href="#">Contrary  belief</a></h4>
                <p class="para">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                <a href="single-page.html" class="fa-btn btn-1 btn-1e">read more</a>
            </div>
        </div>
    </div>
</div><!-- end main -->